#social-buttons button {
  color: white;
}
#mission {
  background-color: rgba(32, 35, 41, 0.9);
  font-color: #ddd;
}
body {
  padding-top: 70px;
}
#menu {
  background-position: top;
  background-image: url('../images/books.jpg');
  background-repeat: repeat;
  font-color: white;
}
#menu button {
  color:yellow;
}
.my_buttons{
  background-color: yellow;
}