#social-buttons button {
  color: white;
}

#mission {
  background-color: rgba(32, 35, 41, 0.9);
  color: white;
}

body {
  padding-top: 70px;
}
#menu {
  background-position: top;
  background-image: url('../images/books.jpg');
  background-repeat: repeat;
}
#menu button {
  color:yellow;
}